.table {
    border-spacing: 2;
    margin: 1rem;
    background-color: rgba(238, 227, 207, 0.985);
}

.table.th:nth-child(even){
    background-color: rgb(115, 194, 155);
}

.table.th {
    text-align: left;
}

.table.tr {
    padding: 10px;
}

 body {
  background-image: 
  /* url("https://i.redd.it/035x2h7v3kl31.jpg");  */
  /* padding: 60px;
} */ 
/* .my_image
{
    background:URL
    url <a href="https://unsplash.com/s/photos/pattern-background?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    /* ('static/images/wallpaper.png'); */
    width:100px;
    height:100px;
}

.flashes {
    color: mediumvioletred ;
    background-color: rgb(142, 248, 248);
    
}
button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(189, 122, 233);
    transition: .5s all;
}

button:hover {
  background-color: rgb(235, 235, 149);
  transform: translateY(-3px);
}


/* table,
tr,
td,
th {
  border-collapse: collapse;
}
tr.header {
  cursor: pointer;
}
.header.sign:after {
  content: "\2B9D";
  display: inline-block;
  transition: transform 0.3s;
  transform: rotate(0deg);
}
.header.expand.sign:after {
  *content:"\2B9F";
  transition: transform 0.3s;
  transform: rotate(180deg);
} */