.table {
    border-spacing: 2;
    margin: 1rem;
    background-color: rgba(238, 227, 207, 0.985);
}

.table.th:nth-child(even){
    background-color: rgb(115, 194, 155);
}

.table.th {
    text-align: left;
}

.table.tr {
    padding: 10px;
}

/* .tr_visible {

} */
.tr_toggle {
  display: none;
}
.text-center{
  color: rgba(243, 50, 12, 0.985) ;
  font-weight: bold;
  font-optical-sizing: auto;
}

 body {

  background-image: url('/static/images/wallpaper2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  /* url("https://i.redd.it/035x2h7v3kl31.jpg");  */
  padding: 60px;
} 
ul {list-style-type: none
    
}

.flashes {
    color: rgb(21, 24, 199) ;
    font-weight: bold;
    background-color: rgb(225, 236, 72);
}



    

button {
    border: none;
    padding: 4px;
    border-radius: 6px;
    background-color: rgb(61, 226, 61);
    transition: .5s all;
}

button:hover {
  background-color: rgb(209, 238, 49);
  transform: translateY(-3px);
}


/* table,
tr,
td,
th {
  border-collapse: collapse;
}
tr.header {
  cursor: pointer;
}
.header.sign:after {
  content: "\2B9D";
  display: inline-block;
  transition: transform 0.3s;
  transform: rotate(0deg);
}
.header.expand.sign:after {
  *content:"\2B9F";
  transition: transform 0.3s;
  transform: rotate(180deg);
} */