<!doctype html>

{% extends 'base.html' %} 


<!-- adds new contacts to form that submits its data to POST/contacts -->
   
{% block title %}Reminder Contact Page{% endblock %}

{% block body %}
  <legend><h1>Occasional Occasion Reminder</h1></legend>
  <div class="container-md"></div>
    <div class="row">
      <div class="flex-col-6 col-md col-lg-12">
        <legend><h2 class= "row text-align">ADD A NEW CONTACT</h2>
      </legend>
      </div>
      <div class="row">
      <div class="flex-col-6 col-md col-lg-12">
      <form action="/contacts" method="POST">
        <label class="form-label mb-3">First name of recipient? <input type="text" name="fname"></label> 
        <label class="form-label mb-3">Last name? <input type="text" name="lname"></label>
        <label class="form-label mb-3">Email <input type="email" id="email" name="email"
               placeholder="chtheratio@example.com"></label>
        <label class="form-label mb-3">Phone <input type="tel" id="phone" name="phone"
               pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required
               placeholder="Format: 4159351807"></label> 
       <button type="submit">Submit</button> 
      </form>
    </div>
      </div>
    </div>
  </div>
<div class="container-md"></div>
  <div class="col-4 col-md col-lg-8">
    <legend><h3 class="text-center">EXISTING CONTACTS</h3></legend>
    <div>
      <table class="table table table-hover table-striped 
                    table-responsive-md">
        <thead>
          <tr> 
            <th scope= "col">#</th>
            <th scope= "col">First Name</th>
            <th scope= "col">Last Name</th>
            <th scope= "col">Phone Number</th>
            <th scope= "col">Email</th>
            <th scope= "col"><button type="button" 
                class="btn btn-outline-info">See More</button></th>          
          </tr>
        </thead>
      <tbody>
      {% for contact in contacts %}
      {% if contacts.index(contact) < 5 %}
      <tr class= "tr_visible">
      {% else %}
      <tr class= "tr_toggle">
      {% endif %}
        <th scope="row">{{contact.contact_id}}</th>
        <td>{{contact.fname}}</td>
        <td>{{contact.lname}}</td> 
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div> 
<div class="container">
  <div class="row">
    <div class="flex-col-6-col-md col-lg-12">
      <legend><h4>SELECT CONTACT</h4></legend>
    </div>
  </div>
  <div class="row">
      <div class="flex-col-3-col-md col-lg-6">
      <form action="/select_contact" method="POST">
          <label class="form-label">Recipient's First Name <input type="text" name=fname></label>
          <label class="form-label">Last Name <input type="text" name=lname></label>
        <button type="submit">Submit</button>
      </form>
      </div>
      <div class="flex-col-1-col-md col-lg-2">
        <button id="send">Send All Greetings</button>
      </div>
      <div class="col-2-col-md col-lg-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">home</a></li>
             <li class="breadcrumb-item"><a href="#">contacts</a></li>
             <li class="breadcrumb-item active" aria-current="page">greetings</li>
          </ol>
        </nav>
      </div>
    </div>
  </div> 
 <div>

{% endblock %} 
</html> 