<!doctype html>

{% extends 'homepage.html' %} 


<!-- adds new contacts to form that submits its data to POST/contacts -->
   
{% block title %}Reminder Contact Page{% endblock %}

{% block body %}
  <h1>Occasional Occasion Reminder App</h1>

  <h2>Add A New Contact!</h2>
   <div>
     <form action="/contacts" method="POST">
      <label>First name of recipient? <input type="text" name="fname"></label> 
      <label>Last name? <input type="text" name="lname"></label>
      <label>Email <input type="email" id="email" name="email"
                    placeholder="chtheratio@example.com"></label>
      <label>Phone <input type="tel" id="phone" name="phone"
             pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required
             placeholder="Format: 4159351807"></label>
      <button type="submit">Submit</button> 
     </form>
  </div>

  <h3>"Existing Contacts"</h3>
  <div>
   <table class="table">
     <thead>
       <tr> 
        <th scope= "col">#</th>
        <th scope= "col">First Name</th>
        <th scope= "col">Last Name</th>
        <th scope= "col">Phone Number</th>
        <th scope= "col">Email </th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <th scope="row">{{contact.contact_id}}</th>
        <td>{{contact.fname}}</td>
        <td>{{contact.lname}}</td> 
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
      </tr>
      {% endfor %}
    </tbody>
      
    </table>
  </div>

  <h4>Select Contact</h4>
  <div>
  <form action="/select_contact" method="POST">
    <label>Recipient's First Name<input type="text" name=fname></label>
    <label>Last Name<input type="text" name=lname></label>
    <button type="submit">Submit</button>
  </div>
  <h5></h5>
  <div>
    <button id= "send">Send All Greetings</button>
  </div>
  </form>
  
  <!-- <h3>Select Greeting</h3>
  <p>
  <form action="/greeting" method="POST">
    <label>Email <input type="text" fname="email" lname="email"</label>
    <label>Password <input type="password" fname="password" lname="password"</label>
    <input type="submit">
  </p>
  </form> -->

{% endblock %} 