<!doctype html>

{% extends 'homepage.html' %} 


<!-- adds new contacts to form that submits its data to POST/contacts -->
   
{% block title %}Reminder Contact Page{% endblock %}

{% block body %}
  <h1>Occasional Occasion Reminder App</h1>

  <h2>Add A New Contact!</h2>
  <p>
  <form action="/contacts" method="POST">
    <label>First name of recipient? <input type="text" name="fname"></label> 
    <label>Last name? <input type="text" name="lname"></label>
    <label>Email <input type="text" name="email"></label>
    <label>Phone <input type="text" name="phone="></label>
    <input type="submit">
    </p>
  </form>

  <h3>Select Contact</h3>
  <p>
  <form action="/contacts" method="GET">
    <label>Recipient's First Name<input type="text" name=fname></label>
    <label>Last Name<input type="text" name=lname></label>
    <input type="submit">
    </p>
  </form>
  
  <!-- <h3>Select Greeting</h3>
  <p>
  <form action="/greeting" method="POST">
    <label>Email <input type="text" fname="email" lname="email"</label>
    <label>Password <input type="password" fname="password" lname="password"</label>
    <input type="submit">
  </p>
  </form> -->

{% endblock %} 