<!doctype html>

{% extends 'base.html' %} 


 <!-- adds occasions and greeting to form that submits its data to POST/occasions -->
   
{% block title %}Reminder Occasion/ Greeting Page{% endblock %}

{% block body %}
<div class="container-md">
    <div class="row">
      <h1 class="text-center">Occasional Occasion Reminder App</h1>
    </div>
      <div class="container-md">
        <div class="row col-lg-12 bg-light bg-gradient">
          <legend><h2>Create Your Custom Greeting</h2></legend>
       
        <div class="col6 col-md col-lg-12 bg-light bg-gradient">
        <div>
          <form action="/occasions/{{contact.contact_id}}" method="POST">
            <label class="form-label">What is the special Occasion? <input type="text" name="title"></label> 
            <label class="form-label">When is this Date? <input type="date" id="occ_date" 
                    name="occasion_date"></label>
            <label class="form-label">Create Your Custom Message <input type="text" name="body"></label>
            <label class="form-label">When Would You Like To Send Your Greeting? <input type="date" 
                      id="sent_dt" name="send_date"></label>
                      <button type="submit">Submit</button>
          </form>
        </div> 
        </div>
    </div>
  </div>
    <div class="col-5 col-md col-lg-10">
      <legend><h3>Make Sure This Message is Unique * </h3></legend>
      <table class="table table table-hover table-striped 
                    table-responsive-md">
        <thead>
          <tr> 
            <th scope= "col">#</th>
            <th scope= "col">Recipient</th>
            <th scope= "col">Occasion</th>
            <th scope= "col">Greeting</th>
            <th scope= "col">Event Date</th>
            <th scope= "col">Send Date<th scope= "col"><button type="button" 
                class="btn btn-outline-info">see more</button></th>          
          </tr>
        </thead>
        <tbody>
        {% for greeting in greetings|reverse %}
        {% if greetings.index(greeting) < 5 %}
          <tr class= "tr_visible">
          {% else %}
          <tr class= "tr_toggle">
          {% endif %}
            <th scope="row">{{greeting.greeting_id}}</th>
            <td>{{contact.fname}}</td>     
            <td>{{greeting.occasion.title}}</td> 
            <td>{{greeting.body}}</td> 
            <td>{{greeting.occasion.occasion_date}}</td> 
            <td>{{greeting.send_date}}</td>
            <td></td>
          </tr>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>
      <div class="container">
        <div class="row">
          <div class="col-6 col-md col-lg-12">
            <legend><h4 class= "text-center bg-secondary bg-transparent">
                      Your greetings have been 
                      logged<br>and will be sent
                      on date with a special Gif chosen for you Good bye!</h4>
            </legend>
          </div>
        </div>

        <div class= "row">
          <div class= "flex-col 4-col-md col-lg-5 ">
          <button id= "send">Send All Greetings</button>
          </div>
  
          <div class="col-2 col-md col-lg-3">
            <form action="/logout" method="POST"> 
                <button type="submit">LOGOUT</button>
            </form> 
          </div>
     
        <div class="col-2 col-md col-lg-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">home</a></li>
            <li class="breadcrumb-item"><a href="#">contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">greetings</li>
          </ol>
        </nav>
      </div>
     </div>
  </div>
{% endblock %} 
</html> 