<!doctype html>

{% extends 'base.html' %} 


 <!-- adds occasions and greeting to form that submits its data to POST/occasions -->
   
{% block title %}Reminder Occasion/ Greeting Page{% endblock %}

{% block body %}
<div class="container-md"></div>
    <div class="row">
      <div class="col-12 col-md col-lg-4">
        <h1 class="text-left">Occasional Occasion Reminder App</h1>
      <div class="container-md"></div>
        <div class="row">
          <legend><h2>Create Your Custom Greeting</h2></legend>
        <div>
          <form action="/occasions/{{contact.contact_id}}" method="POST">
            <label class="form-label">What is the special Occasion? <input type="text" name="title"></label> 
            <label class="form-label">When is this Date? <input type="date" id="occ_date" name="occasion_date"></label>
            <label class="form-label">Create Your Custom Message <input type="text" name="body"></label>
            <label class="form-label">When Would You Like To Send Your Greeting? <input type="date" id="sent_dt" 
                 name="send_date"></label>
          </form>
        
 
  <button type="submit">Submit</button>
</div> 
</div>
    <div class="col-12 col-md col-lg-4">
      <legend><h3>Make Sure This Message is Unique * </h3></legend>
      <table class="table table table-hover table-striped 
                    table-responsive-md">
        <thead>
          <tr> 
            <th scope= "col">#</th>
            <th scope= "col">Recipient</th>
            <th scope= "col">Type of Greeting</th>
            <th scope= "col">Greeting</th>
            <th scope= "col">Event Date</th>
            <th scope= "col">Send Date<th scope= "col"><button type="button" 
              class="btn btn-outline-info">see more</button></th>          
          </tr>
        </thead>
        {% for greeting in greetings|reverse %}
        {% if greetings.index(greeting) < 5 %}
          <tr class= "tr_visible">
          {% else %}
          <tr class= "tr_toggle">
          {% endif %}
            <th scope="row">{{greeting.greeting_id}}</th>
            <td>{{contact.fname}}</td>
            <td>{{greeting.body}}</td> 
            <td>{{greeting.occasion.title}}</td> 
            <td>{{greeting.occasion.occasion_date}}</td> 
            <td>{{greeting.send_date}}</td>
            <td></td>
          </tr>
          {% endfor %}
       
      </table>
      </form>
      <div class="container-md"></div>
      <div class="row">
        <button id= "send">Send All Greetings</button>
    </div>
  <div class="col-12 col-md col-lg-4">
  <legend><h3>Worry no more...We will remember for you bye!</h3></legend>
      <div>
        <form action="/logout" method="POST"> 
        <button type="submit">LOGOUT</button>
        </form> 
      </div>
      </div>
      <div class="col-12 col-md col-lg-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">home</a></li>
          <li class="breadcrumb-item"><a href="#">contacts</a></li>
          <li class="breadcrumb-item active" aria-current="page">greetings</li>
        </ol>
      </nav>
      </div>
{% endblock %} 
</html> 