<!doctype html>

{% extends 'base.html' %} 


<!-- adds signup and login form that submits its data to POST/users -->
   
{% block title %}Occasional Occasion Reminder{% endblock %}

{% block body %}
  <h1>Occasional Occasion Reminder App</h1>

  <h2>Create an Account</h2>
  <p>
  <form action="/register" method="POST">
    <label>What is your first? <input type="text" name="fname"></label>
    <label>What is your last name? <input type="text" name="lname"></label>
    <label>Email <input type="text" name="email"></label>
    <label>Phone <input type="text" name="phone"></label>
    <label>Password <input type="text" name="password"></label>
    <input type="submit">
    </p>
  </form>
  
  <h3>Log In</h3>
  <p>
  <form action="/login" method="POST">
    <label>Email <input type="text" name="email"></label>
    <label>Password <input type="text" name="password"></label>
    <input type="submit">
  </p>
  </form>

{% endblock %} 