<!doctype html>

{% extends 'base.html' %} 


<!-- adds signup and login form that submits its data to POST/users -->
   
{% block title %}Occasional Occasion Reminder{% endblock %}

{% block body %}
  <h1>Occasional Occasion Reminder App</h1>

  <h2>Create an Account</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    
   <form action="/register" method="POST">
    <label>What is your first? <input type="text" name="fname"></label>
    <label>What is your last name? <input type="text" name="lname"></label>
    <label>Email <input type="email" name="email"
           placeholder="chtheratio@example.com"></label>
    <label>Phone <input type="tel" id="phone" name="phone"
           pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required
           placeholder="Format: 4159351807"></label>
           <!-- make this hide on hover -->
    <label>Password <input type="text" name="password"></label>
    <input type="submit">
   </p>
  </form>
  
  <h3>Log In</h3>
  
   
    <form action="/login" method="POST">
      <label>Email <input type="email" name="email"></label>
      <label>Password <input type="text" name="password"></label>
      <input type="submit">
    </p>
  </form>

{% endblock %} 